html {
  background: #fff;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #404040;
  font-family: "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

p, ul > li {
  line-height: 180%;
}

.overview-img {
  max-width: 800px;
  width: 100%;
}

.media  {
  vertical-align: top;
}

.media .img {
  float: left;
}

.media .bd {
  overflow: hidden;
  zoom: 1;
}

.inner,
section {
  max-width: 900px;
  padding: 0 30px 30px 30px;
  margin: 0 auto;
}


header {
  background: rgba(147, 128, 108, 0.1);
  padding: 30px 0;
  margin-bottom: 30px;
}

header h2 {
  margin: 0;
  font-weight: 400;
}

header .logo {
  position: relative;
  height: 185px;
  width: 220px;
  margin-right: 20px;

  display: inline-block;
}

header .bd {
  padding-top: 30px;
}

header .logo .icon-big {
  color: #428BCA;
  font-size: 200px;
  position: absolute;
}

header .logo .icon-arrow {
  color: #fff;
  font-size: 100px;
  position: absolute;
  left: 50px;
  bottom: 20px;
}

header .social {
  margin-top: 20px;
}

header .social iframe {
  margin-bottom: 10px;
}

section.implementations {
  background: rgba(147, 128, 108, 0.1);
  padding: 30px;
}

section.implementations li {
  list-style: none;
  min-height: 100px;
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
}

section.implementations li .img {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

section.implementations li h3 {
  margin: 0;
}

section.implementations li .img > img {
  width: 40px;
}

section.implementations li.node img {
  padding-top: 20px;
}

section.implementations a {
  color: inherit;
}

section.implementations ul {
  margin: 0;
  padding: 0;
}

.implementations .img {
  margin-right: 20px;
}

@media (max-width: 700px) {


  header .media .img {
    display: block;
    float: none;
    margin: 0 auto;
  }


  .content {
    margin: 0 auto;
  }

  h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

}
