<section>
  <h2>Remote debugging compatibility</h2>

  <p>To get an overview of the functionality in existing remote debugging protocols, we have started an compatibility chart, where we will try to outline the functionality in each protocol.</p>

  <h3>API compatibility overview</h3>
    <table class="compatibility" cellspacing="5">
      <colgroup>
        <col>
          <col span="1" class="ie">
          <col span="1" class="ff">
          <col span="1" class="saf">
          <col span="1" class="op">
          <col span="1" class="chr">
      </colgroup>
      <tbody>
        <tr class="compheader mobile">
          <th rowspan="1">Area</th>
          <th colspan="1">Chrome</th>
          <th colspan="1">Firefox</th>
          <th colspan="1">Webkit</th>
          <th colspan="1">Scope</th>
        </tr>

        <tr>
          <td class="declaration">
            <div class="name"><a href="compatibility/console">Console</a></div>
            JavaScript console.
          </td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
        </tr>

        <tr>
          <td class="declaration">
            <div class="name"><a href="compatibility/debugger">Debugger</a></div>
            JavaScript debugging capabilities.
          </td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
        </tr>

        <tr>
          <td class="declaration">
            <div class="name"><a href="compatibility/dom">DOM</a></div>
            DOM capabilities.
          </td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
        </tr>

        <tr>
          <td class="declaration">
            <div class="name"><a href="compatibility/dom-debugger">DOM Debugger</a></div>
            DOM debugging capabilities.
          </td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
        </tr>

        <tr>
          <td class="declaration">
            <div class="name"><a href="compatibility/input">Input</a></div>
            Input emulation capabilities.
          </td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
        </tr>

        <tr>
          <td class="declaration">
            <div class="name"><a href="compatibility/network">Network</a></div>
            Network capabilities.
          </td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
        </tr>

        <tr>
          <td class="declaration">
            <div class="name"><a href="compatibility/page">Page</a></div>
            Page/App capabilities.
          </td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
        </tr>

        <tr>
          <td class="declaration">
            <div class="name"><a href="compatibility/runtime">Runtime</a></div>
            Runtime capabilities.
          </td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
        </tr>

        <tr>
          <td class="declaration">
            <div class="name"><a href="compatibility/timeline">Timeline</a></div>
            Timeline events and instrumentation.
          </td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
          <td class="comp yes" colspan="1">Yes</td>
        </tr>

    </tbody>
  </table>

  <h3>Protocol compatibility overview</h3>
  <p><a href="https://docs.google.com/spreadsheet/ccc?key=0AsrRf2m9mWbidEhqaHNFSldWelhVUl9JeDd3dlROQlE#gid=0">https://docs.google.com/spreadsheet/ccc?key=0AsrRf2m9mWbidEhqaHNFSldWelhVUl9JeDd3dlROQlE#gid=0</a></p>

</section>
