<section>
  <h2>How do I get involved?</h2>
  <p>We got a lot of work ahead, so we need your help. </p>
  <p>The first thing you should do is to help us by spreading the word by tweeting and telling the world about this initative. Secondly you should contribute to one of the open-source projects, so we can increase the usage of RemoteDebug.</p>


  <p>If you want to participate in the debate, please join the <a href="groups.google.com/forum/#!forum/remotedebug">remotedebug-list</a> or shoot a mail to kenneth@auchenberg.dk.</p>
</section>

<section>
  <h2>Who's behind?</h2>
  <p>The RemoteDebug initiative was started by <a href="http://kenneth.io">Kenneth Auchenberg</a>. Earlier this year he wrote a blog-post where he shared his thoughts on our web development workflow, it was called <a href="http://kenneth.io/blog/2013/05/21/our-web-development-workflow-is-completely-broken/">"our web development workflow is completely broken"</a>, and this initiative is the continuation of his ideas.</p>
</section>
