<section>
  <h2>The Roadmap.</h2>
  <p>The long-term goal is to get all major browser vendors to implement and use the "RemoteDebug", but we know this is going to take some time, especially to get everyone on board.</p>

  <img src="images/remotedebug_overview.png" class="overview-img" />

  <p>So how are we going to make this happen?</p>

  <h3>1. Protocol and API baseline</h3>
  <p>The first thing is to get a baseline for the protocol and API. Here we propose to use the existing <a href="https://developers.google.com/chrome-developer-tools/docs/debugger-protocol" target="_blank">Chrome Remote debugging protocol</a> as our starting point to define what we would call the RemoteDebug protocol and RemoteDebug API.</p>
  <p>The reason for choosing the <a href="https://developers.google.com/chrome-developer-tools/docs/debugger-protocol" target="_blank">Chrome Remote debugging protocol</a> is simply that both the protocol and API are documented. The protocol is a part of <a href="http://www.chromium.org/" target="_blank">Chromium</a>, which is used by both <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Chrome</a> and <a href="http://www.opera.com/" target="_blank">Opera</a>, which means we already have two browsers supported, and in addition there's already several editors and tools that have integrated with the protocol.</p>

  <h3>2. Protocol and API specifications</h3>
  <p>The next step is a two-fold specification strategy, as the API also could be used within the browser as an WebIDL. First is to kick-off the specification work of the remote debugging protocol itself and the API used over the protocol.</p>

  <ul class="numbers-list">
    <li>A specification effort to provide a remote debugging protocol to facilitate the communication between the browser and client(s).
      <ul>
        <li>The specification must include a subset of existing functionality within used remote debugging protocols</li>
      </ul>
    </li>
  </ul>

  <ul class="numbers-list">
    <li>A specification effort to provide a remote debugging API .
      <ul>
        <li>The specification must include a subset of existing functionality within used remote debugging protocols</li>
        <li>The API should be split into modules or levels in similar models used for CSS and Bluetooth, to ease the implementation, and make sure implementors gradually can reach compatibility with the spec.</li>
        <li>The API must be possible to expose via the related remote debugging protocol</li>
        <li>Explore the possiblity to declare the API as an WebIDL, to be exposed as an API for extensions and web apps under a secure model.</li>
      </ul>
    </li>
  </ul>

  <h3>3. Provide bridges/polyfils for browsers</h3>
  <p>Once the first revisions of the protocol and API has been stablized, the work on providing bridges, or polyfils for the existing remote debugging protocols within browsers. A prototype of such a brige has already been demonstrated by Kenneth Auchenberg, with his <a href="https://github.com/auchenberg/remotedebug-firefox-bridge">remotedebug-firefox-bridge</a>.</p>
  <p>Target browsers should be priorized after market share.</p>

  <h3>4. Make browsers use RemoteDebug as their default interface</h3>
  <p>A standards effort for browsers to support the RemoteDebug protocol and RemoteDebug API as their primary, should be started.</p>

  <h3>5. Migrate existing tools and build new ones!</h3>
  <p>When we get here - a new world of web tooling will be open.</p>

</section>
