html {
  background: #fff;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  color: #404040;
  font-family: "Open Sans", Helvetica, Arial;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hidden {
  display: none;
}
h1 {
  font-size: 60px;
  margin: 0;
  color: #444;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  color: #444;
}
h1,
h2,
h3 {
  font-weight: bold;
  letter-spacing: -0.01em;
}
a:link,
a:visited {
  color: #428BCA;
}
.italic {
  font-style: italic;
}
.color-green {
  color: #00b200;
}
p,
ul > li {
  line-height: 180%;
}
.overview-img {
  max-width: 600px;
  width: 100%;
}
.media {
  vertical-align: top;
}
.media .img {
  float: left;
}
.media .bd {
  overflow: hidden;
  zoom: 1;
}
.inner,
section {
  max-width: 1000px;
  padding: 0 30px 30px 30px;
  margin: 0 auto;
}
header.intro {
  background: #eee;
  margin-bottom: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: -90px;
}
header.intro .inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header.intro .media {
  overflow: auto;
}
header.intro .status {
  width: 100%;
  text-align: center;
}
header.intro h1 {
  margin-bottom: 30px;
  font-weight: normal;
}
header.intro p {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
}
header.intro .logo {
  position: relative;
  height: 350px;
  width: 360px;
  margin-right: 100px;
  margin-top: 0px;
  text-decoration: none;
  display: inline-block;
}
header.intro .logo img {
  margin-top: 50px;
  width: 350px;
}
header.intro .bd {
  padding-top: 30px;
}
header.intro .social {
  margin-top: 20px;
}
header.intro .social iframe {
  margin-bottom: 10px;
}
.content {
  padding: 120px 0;
}
ul.sub {
  background: rgba(147, 128, 108, 0.1);
}
ul.sub li {
  list-style: none;
  min-height: 80px;
  border-bottom: 1px solid #fff;
  padding: 20px;
}
ul.sub li h3 {
  margin: 0;
}
ul.sub li p {
  margin-bottom: 0;
}
ul.sub li a {
  color: inherit;
}
ul.sub li .img {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 5px;
  padding: 5px 0;
  text-align: center;
}
section.implementations li .img > img {
  width: 30px;
}
section.implementations li.node img {
  padding-top: 10px;
}
section.implementations ul {
  margin: 0;
  padding: 0;
}
.implementations .img {
  margin-right: 20px;
}
section.comments {
  background: rgba(147, 128, 108, 0.1);
  padding: 30px;
  max-width: 100%;
  margin-bottom: -120px;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 46.25em) {
  .nav-collapse li {
    width: auto;
    display: inline-block;
  }
  nav ul {
    text-align: right;
  }
}
@media (max-width: 700px) {
  nav {
    background: #fff;
    position: static;
  }
  header.intro {
    padding: 90px 0 0 0;
  }
  header.intro .inner {
    height: auto;
  }
  header.intro .media .img {
    display: block;
    float: none;
  }
  header.intro .logo {
    width: 100%;
    height: 190px;
  }
  header.intro .logo img {
    height: 190px;
    margin: 0;
  }
  .content {
    margin: 0 auto;
  }
  h1 {
    font-size: 42px;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
}
.compatibility {
  background: rgba(147, 128, 108, 0.1);
  padding: 30px;
  border-collapse: collapse;
  border-spacing: 2px;
  border-color: #808080;
  width: 100%;
}
.compatibility tr {
  border: 0;
}
.compatibility td {
  border: 1px solid #fff;
  padding: 5px;
}
.compatibility h3 {
  margin: 0;
}
.compatibility .yes {
  background-color: #CF9;
  color: #030;
}
header.page {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  padding: 10px;
  height: 90px;
  background: #eee;
  border-bottom: 1px solid #E7E7E7;
}
header.page .logo {
  display: inline-block;
  position: relative;
  padding: 12px 0 0 10px;
  text-decoration: none;
  color: #333;
  line-height: 45px;
  font-weight: bold;
  font-size: 25px;
}
header.page .logo.hidden .img {
  display: none;
}
header.page .logo img {
  width: 60px;
  margin-right: 20px;
}
header.page nav {
  right: 0px;
  top: 0px;
  position: absolute !important;
  padding: 20px;
}
header.page nav .inner {
  padding: 0;
}
header.page nav ul {
  min-height: 50px;
  margin: 0;
  padding: 0;
}
header.page nav li {
  position: relative;
  display: inline-block;
  opacity: 0.6;
  font-size: 14px;
  font-weight: 300;
  width: auto;
}
header.page nav li:hover {
  border-bottom: 1px solid #757575;
  opacity: 1;
}
header.page nav li > a {
  display: block;
  padding: 10px 15px;
  line-height: 30px;
  text-decoration: none;
}
header.page nav li > a:link,
header.page nav li > a:visited {
  color: #000;
}
header.page nav.opened {
  display: block;
  position: absolute !important;
  top: 80px;
  left: 20px;
  right: auto;
  max-height: 500px !important;
  min-width: 260px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 4px 12px;
  background: #fff;
}
header.page nav.opened li {
  display: block;
  text-align: left;
}
header.page nav.opened li:hover {
  border: 0;
}
header.page .nav-toggle {
  display: none;
  text-indent: -9999px;
  white-space: nowrap;
  position: relative;
  top: 10px;
  height: 35px;
  width: 35px;
  overflow: hidden;
  background-image: url(/images/nav-toggle.png);
  background-size: 35px;
  background-position: 50% 50%;
}
@media (max-width: 1100px) {
  header.page nav {
    display: none;
  }
  header.page .logo.hidden {
    display: inline-block;
  }
  header.page .nav-toggle {
    display: inline-block;
  }
}
