html {
  background: #fff;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  color: #404040;
  font-family: "Helvetica Neue", sans-serif;
}
h1 {
  font-size: 60px;
  font-weight: 400;
  margin: 0;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}
a:link,
a:visited {
  color: #428BCA;
}
.italic {
  font-style: italic;
}
.color-green {
  color: #00b200;
}
p,
ul > li {
  line-height: 180%;
}
.overview-img {
  max-width: 800px;
  width: 100%;
}
.media {
  vertical-align: top;
}
.media .img {
  float: left;
}
.media .bd {
  overflow: hidden;
  zoom: 1;
}
.inner,
section {
  max-width: 900px;
  padding: 0 30px 30px 30px;
  margin: 0 auto;
}
nav {
  display: block;
  border-bottom: 1px solid #E7E7E7;
}
nav .inner {
  padding: 0;
}
nav ul {
  min-height: 50px;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav li {
  position: relative;
  display: inline-block;
}
nav li > a {
  display: block;
  padding: 10px 15px;
  line-height: 30px;
}
header {
  background: rgba(147, 128, 108, 0.1);
  padding: 30px 0 0 0;
  margin-bottom: 30px;
}
header h2 {
  margin: 0;
  font-weight: 400;
}
header .logo {
  position: relative;
  height: 185px;
  width: 220px;
  margin-right: 20px;
  text-decoration: none;
  display: inline-block;
}
header .bd {
  padding-top: 30px;
}
header .logo .icon-big {
  color: #428BCA;
  font-size: 200px;
  position: absolute;
}
header .logo .icon-arrow {
  color: #fff;
  font-size: 100px;
  position: absolute;
  left: 50px;
  bottom: 20px;
}
header .social {
  margin-top: 20px;
}
header .social iframe {
  margin-bottom: 10px;
}
ul.sub {
  background: rgba(147, 128, 108, 0.1);
}
ul.sub li {
  list-style: none;
  min-height: 80px;
  border-bottom: 1px solid #fff;
  padding: 20px;
}
ul.sub li h3 {
  margin: 0;
}
ul.sub li p {
  margin-bottom: 0;
}
ul.sub li a {
  color: inherit;
}
ul.sub li .img {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}
section.implementations li .img > img {
  width: 40px;
}
section.implementations li.node img {
  padding-top: 10px;
}
section.implementations ul {
  margin: 0;
  padding: 0;
}
.implementations .img {
  margin-right: 20px;
}
section.comments {
  background: rgba(147, 128, 108, 0.1);
  padding: 30px;
  max-width: 100%;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 700px) {
  header .media .img {
    display: block;
    float: none;
    margin: 0 auto;
  }
  .content {
    margin: 0 auto;
  }
  h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 15px;
  }
}
.compatibility {
  background: rgba(147, 128, 108, 0.1);
  padding: 30px;
  border-collapse: collapse;
  border-spacing: 2px;
  border-color: #808080;
  width: 100%;
}
.compatibility tr {
  border: 0;
}
.compatibility td {
  border: 1px solid #fff;
  padding: 5px;
}
.compatibility h3 {
  margin: 0;
}
.compatibility .yes {
  background-color: #CF9;
  color: #030;
}
