<html>
  <head>
    <title>RemoteDebug, an initiative to unify remote debugging across browsers.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/images/remotedebug_logo.png" rel="shortcut icon" sizes="16x16 32x32 64x64" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

    <header class="page">

      {% if page.hide_header_logo != "true" %}
      <a href="/" class="logo media">
      {% else %}
      <a href="/" class="logo hidden">
      {% endif %}
        <div class="img">
          <img src="/images/logo.svg" width="100" />
        </div>
        <div class="bd">RemoteDebug</div>
      </a>

      <nav class="nav-collapse">
        <ul>
          <li><a href="/">Overview</a></li>
          <li><a href="/roadmap">Roadmap</a></li>
          <li><a href="/adaptors">Adaptors</a></li>
          <li><a href="/integrations">Integrations</a></li>
          <li><a href="http://compatibility.remotedebug.org/">Compatibility</a></li>
          <li><a href="/specifications">Specifications</a></li>
          <li><a href="/articles-talks">Articles &amp; talks</a></li>
          <li><a href="/get-involved">Get involved</a></li>
        </ul>
      </nav>

    </header>

    <div class="content">
      {{ content }}
    </div>

    <script src="/js/responsive-nav.js"></script>
    <script src="/js/page.js"></script>

  </body>
</html>
